.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box-content {
    width: 20rem;
    justify-content: center;
    background-color: yellow;
}

div {
    margin-top: 2rem;
}

.accessibility-mode {
    background-color: green !important;
}
